
      body {
    padding: 0px 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f3f5;
  }
  header { 
    width: 100%;
    background-color: #0a438b;
    height: 50px;
    margin: 0px;
    padding: 10px 0px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  #leftNav {
    display: flex;
  }
  #leftNav > img {
    margin-right: 20px;
  }
  #rightNav {
    display: flex;
    padding-top: 20px;
  }
  #rightNav > a {
    margin-left: 20px;
    font-size: 15px;
    color: white;
    text-decoration: none;
  }
  #dropDown {
    position: relative;
  }
  #dropMenu {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: 5px 5px 20px #0a438b;
  }
  #dropDown > button {
    width: 100px;
    margin: 10px 0px;
    background-color: transparent;
    color: white;
    border: none;
  }
  .anchor {
    width: 250px;
    padding: 10px 20px;
  }
  .anchor > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    display: block;
  }
  .anchor > a:hover {
    text-decoration: none;
    color: white;
    background-color: #0a438b;
    font-size: 20px;
    font-weight: 600;
  }
      #detailssetion{
          background-color: #f0f3f5;
          display: flex;
        margin-top: 10%;
        width: 80%;
        margin: auto;
        /* border: 1px solid black; */
        height: 1100px;
       
        /* grid-template-columns: repeat(2,1fr); */
      }
      .leftdiv{
          margin-top: 50px;
        
        height: 100px;
        width: 60%;
        /* border: 1px solid red; */
    
      }
      .leftdiv > :first-child{
          margin-bottom: 10px;
          width:100%;
          color: gray;
          margin-left: 0px;
          grid-gap: -10px;
          display:flex;
          flex-direction: column(4,1fr);
          /* grid-template-columns:repeat(4,1fr); */
      }
      .material-icons{
          width: 30px;
      }
      .checkCovid{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          height: 90px;
        border-radius: 10px;
        width: 100%;
        font-weight: normal;
       
          background-color: #505c66;
          /* border: 1px solid green; */
          color:#ffffff;
          display: flex;
          /* grid-template-columns: repeat(2,1fr); */
          
      }
      .crossIcon{
          
          padding: 10px;
          margin-left: 10px;
        /* border:1px solid blue; */
        width: 10%;
        padding-left: 10px;
        width: 6%;
      }
      .textcheck {
          width: 60px;
          padding: 10px;
          line-height: 10px;
          width: 100%;
        /* border: 1px solid gold; */
        text-decoration: none;
        color:#ffffff ;
      }
      .textcheck>a{
          color: #ffffff;
      }
      .stayFlaxible{
          margin-top: 20px;
          width: 100%;
          /* border: 1 px solid yellow */
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          
          height: 80px;
      }
    
     .stayflaxibleclass{
         line-height: 10px;
         margin-top: 10px;
      display: flex;
      line-height:0.5px;
      background-color: #ffffff;
      height: 100px;
      border-radius: 15px;
   
     }
     .stayHometext{
        /* border: 1px solid orange;  */
        padding: 7px;
        width: 90%;
        margin-left: 20px;
       color: black;
       text-decoration: n;
       line-height: 10px;
     }
     .stayHometext > P{
         color: gray;
     }
     .stayHometext > a{
         color:#0d5ab9;
         font-size: 14px;
         text-decoration: none;
         
     }
     .stayHomeimage{
         margin-left: 10px;
         padding: 9px;
         margin-top: 10px;
         width: 6%;
         /* border: 1px solid steelblue; */

     }
     .plansection{

         background-color: #ffffff;
         /* border: 1px solid hotpink; */
         margin: auto;
         border-radius: 10px;
         margin-top: 50px;
         height: 700px;
         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     }
     .flitimg{
         display: flex;
         width: 100%;
         height: 40px;
         /* border: 1px solid aqua; */
     }
     .fimage{
         margin-top: 10px;
         width:5%;
         height: 100px;
        
     }
     .fimage > image{   
        height: 100px;
        width: 100px;

     }
     .fclass{
         display: flex;
         width: 90%;
         height: 40px;
         /* border: 1px solid maroon; */
     }
     .fclass>p{
         color: gray;
     }
     .sorceTodes{
        margin-left: 10px;
     }
     .sorceTodes > h1{
        font-family:Arial, Helvetica, sans-serif;
     }
     .flitTime{
         line-height:4px;
         margin-top: 50px;
        width: 100%;
        height: 60px;
       
      
     }
     .flitTime> p{
         color: gray;
     }
     .flitTime> a{
         color: #0d5ab9;
         font-size: 14px;
         text-decoration: none;
     }
     .flitTime > hr {

         margin-bottom:10px;
     }
     .Estimatedclass{
         margin-top: 60px;
         height: 70px;
     }
     .Estimatedcost{
      color: gray;
         display: grid;
         grid-template-columns: repeat(2,1fr);
         height: 150px;
         width: 100%;
     }
     .estimatetext{
         margin-top: 20px;
         margin-top: 10px;
         color: gray;
         font-size: 13px;
         width: 80%;
     }
     .estimatetext2{
         margin-top: 20px;
         margin-top: 10px;
         color: gray;
         font-size: 13px;
         width: 80%;
     }
     .estimatetext>span>span>{
         padding-top: 20px;
        color: blue;
     }
      .txtdiv>:last-child{
        color: black;
       }
     .lastDiv{
       margin-top: 250px;
     }
     
     .rightdiv{
       background-color: #ffffff;
        margin-top: 100px;
         margin-left: 55px;
         margin-right: 20px;
        width: 40%;
         /* border: 1px solid  royalblue; */
         border-radius: 10px;
        height: 420px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     }
     .checkout{
       /* border:1px solid red; */
       width: 90%;
       margin-left: 20px;
      
     }
.tr{
     color: black;
   }
  
     .tr1{
       color: grey;
     }
      .tr2{
        color: grey;
      }
     .tabletop{
      /* border: 1px solid yellow; */
       width: 100%;
       height: 100px;
     }
     .checkout2{
       /* border:1px solid red; */
       width: 90%;
       margin-left: 20px;
       color: black;

     }
     .table2{
       width: 100%;
       height: 60px;
       /* border: 1px solid hotpink; */
     }
    #text{
      font-size: 15px;
      color: grey;
    }
    #checkoutBtn{
      background-color: #0d5ab9;
      border-radius: 10px;
      font-size: 20px;
      width: 100%;
      color:#ffffff;
      height: 60px;
      padding: 10px;
    }

    /* footer css */
    footer{
      width: 80%;
      margin: auto;
    }
    #links {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    footer>div a{
    text-decoration: none;
    color: #0a438b;
    }
    footer>div li{
    text-decoration: none;
    list-style-type:none;
    margin: 20px 0px;
    }
    footer p{
      text-align: center;
      margin-bottom: 50px;
    }