body {
    padding: 0px 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f3f5;
    font-size: 13px;
  }

  header {
    width: 100%;
    background-color: #0a438b;
    height: 50px;
    margin: 0px;
    padding: 10px 0px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  #leftNav > img {
    margin-right: 20px;
  }
  #rightNav {
    display: flex;
    padding-top: 20px;
  }
  #rightNav > a {
    margin-left: 20px;
    font-size: 15px;
    color: white;
    text-decoration: none;
  }
  #rightNav > a:hover{
      text-decoration: underline;
  }
    p{
        margin: 10px;
        line-height: 15px;
    }
    li{
        line-height: 20px;
    }
    .roundtrip{
        background-color: white;
        width: 400px;
        height: 400px;
        margin-left: 64%;
        margin-top: 60px;
        position:absolute;
    }
    .congo{
        background-color: #d2e6c8;
        width: 400px;
        height: 100px;
        margin-left: 64%;
        margin-top: 470px;
        position:absolute;
    }
    .paymentpage{
        background-color: #f0f3f5;
    }

    .paymentpage h2{
        
       color: #202843;
       margin: 20px;
    }
    
    hr{
       background-color: rgb(115, 209, 209);
       
    }
    .signin{
        background-color: white;
        width: 50%;
        height: 40px;
        margin-left: 12%;
    }
    .div1{
        background-color: white;
        width: 50%;
        height: 70px;
        margin-left: 12%;
    }
    .whos{
        background-color: white;
        width: 50%;
        margin-left: 12%;
    }
    .details{
        display: flex;
        /* grid-template-columns: repeat(4,1fr);
        justify-content: space-between; */
        text-align: center;
        
    }

    select{
        border-radius: 5px;
        height: 30px;
        margin: 10px;
    }
    select:hover{
        cursor: pointer;
    }
    input{
        border-radius: 5px;
        height: 30px;
        margin: 10px;
    }
    input:hover{
        cursor: pointer;
    }
    label{
        margin: 20px;
        color: #8a716b;
        font-weight: bold;
    }
  a{
      font-size: 15px;
      text-decoration: none;
  }
  a:hover{
      text-decoration: underline;
  }

  .protect{
    background-color: white;
        width: 50%;
        margin-left: 12%;
  }
  .imp{
      border: 0.5px solid teal;
      border-radius: 5px;
      margin: 20px;
  }

  .how{
    background-color: white;
        width: 50%;
        margin-left: 12%;
  }
  .how img{
      width: 25px;
  }

  .review{

    background-color: white;
        width: 50%;
        margin-left: 12%;
  }

  .review input{
      width: 200px;
      height: 50px;
      font-size: 15px;
      font-weight: bold;
  }
  #submit:hover{
    background-color: #92ce07;
  }
  #submit{
      background-color: #80b301;
      border: 2px solid black;
      border-radius: 5px;
      font-size: large;
      padding: 20px;
  }

  .footer p,h4{
      text-align:center
  }
  .footer h4:hover{
      text-decoration: underline;
      cursor: pointer;
  }
  .footer p:hover{
      text-decoration: underline;
      cursor: pointer;
  }


  