body {
    padding: 0px 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f3f5;
  }
header {
    width: 100%;
    background-color: #0a438b;
    height: 50px;
    margin: 0px;
    padding: 10px 0px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  #leftNav {
    display: flex;
  }
  #leftNav > img {
    margin-right: 20px;
  }
  #rightNav {
    display: flex;
    padding-top: 20px;
  }
  #rightNav > a {
    margin-left: 20px;
    font-size: 15px;
    color: white;
    text-decoration: none;
  }
  #dropDown {
    position: relative;
  }
  #dropMenu {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    box-shadow: 5px 5px 20px #0a438b;
  }
  #dropDown > button {
    width: 100px;
    margin: 10px 0px;
    background-color: transparent;
    color: white;
    border: none;
  }
  .anchor {
    width: 250px;
    padding: 10px 20px;
  }
  .anchor > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    display: block;
  }
  .anchor > a:hover {
    text-decoration: none;
    color: white;
    background-color: #0a438b;
    font-size: 20px;
    font-weight: 600;
  }


  /* Main Form  */
#supportDiv{
/* margin:auto; */
text-align: center;
width: 60%;
text-align: center;
background-color: white;
margin: auto;
border: 1px solid grey;
border-radius: 10px;
}

#supportForm>input{
    margin-bottom:20px;
    height:40px;
    width:300px;
    border:1px solid black;
   padding-left:10px;
    font-size: 1.2em;
    border-radius:10px;

}
#query{
    margin-bottom:20px;
    border:1px solid black;
    font-size: 1.3em;
    border-radius:10px;
}
input[type="submit"]{
    background:#0a438b;
    color:white;
}
input[type="submit"]:hover{
    background:#335783;
    color:white;
}

input[type="submit"]:active{
    background: #0a438b;
    color: #5f96d8;
    border:1px solid ;
}





/* footer  */
footer{
    width: 80%;
    margin: auto;
  }
  #links {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer>div a{
  text-decoration: none;
  color: #0a438b;
  }
  footer>div li{
  text-decoration: none;
  list-style-type:none;
  margin: 20px 0px;
  }
  footer p{
    text-align: center;
    margin-bottom: 50px;
  }